{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}
    <h1>Est-ce que ca marche ?? : {{ titre }}</h1>
    <p>{{ content }}</p>
    <h6>{{ published }}</h6>
{% endblock %}
